@import url('https://fonts.googleapis.com/css2?family=Barriecito&display=swap');
h1{
  font-family: "Barriecito", serif;
  font-weight: 400;
  font-style: normal;
background-color: blue;
    border: solid 2px black;
}

/* NEW STUFF!! kinda...I embedded this font into the text area.
feeling good...definitely going to look for more new things.*/

textarea{
    font-family: "Barriecito", serif;
  font-weight: 400;
  font-style: normal;
}

/* NEW STUFF!!
I learned how to change the button color when I hover on it.*/
.button{
  color: red;
}
body {
  background-color: green;
  margin: 20px;
  padding: 18px;
}
li {
  font-size: 1.5em;
  margin: 4px;
  border: solid 1px black;
  background-image: url('data:image/svg+xml,%3Csvg width="40" height="40" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg"%3E%3Cg fill="%239C92AC" fill-opacity="0.4" fill-rule="evenodd"%3E%3Cpath d="M0 40L40 0H20L0 20M40 40V20L20 40"/%3E%3C/g%3E%3C/svg%3E');
}